.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: aquamarine;
  }
  
  .image-wrapper {
    position: relative;
    margin-right: 10px;
  }
  
  .image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .count-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .show-less {
    margin-top: 10px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
  