.Analytics-container{
    width: 100%;
    position: relative;

}
.analytics-design{
width: 100%;
max-width: 430px;

margin: 0 auto;

}
.analytics-head{

    font-size: 30px;
}
.ana-d{
    display: flex;
    justify-content: space-between;
}

.css-xyaj9i-MuiMarkElement-root {

    stroke: #ff0000 !important;
 
}
.css-wn5hww-MuiLineElement-root {
  
    stroke: #ff0000 !important;
  
}


.css-xyaj9i-MuiMarkElement-root {
    fill: #fff;
    stroke: #02B2AF;
    stroke-width: 2;
}