.Analytics-container{
    width: 100%;
    position: relative;

}
.analytics-design{
width: 100%;
max-width: 430px;

margin: 0 auto;

}
.analytics-head{

    font-size: 30px;
}
.ana-d{
    display: flex;
    justify-content: space-between;
}