.Analytics-container{
    width: 100%;
    position: relative;

}
.analytics-design{
width: 100%;
max-width: 430px;

margin: 0 auto;

}
.analytics-head{

    font-size: 30px;
}
.ana-d{
    display: flex;
    justify-content: space-between;
}

.css-xyaj9i-MuiMarkElement-root {

    stroke: #ff0000 !important;
 
}
.css-wn5hww-MuiLineElement-root {
  
    stroke: #ff0000 !important;
  
}




.css-ltrqdd-MuiMarkElement-root {
    fill: #ff0000 !important;
    stroke: red !important;
    stroke-width: 2;
    -webkit-transition: opacity 0.2s ease-in, fill 0.2s ease-in;
    transition: opacity 0.1s ease-in, fill 0.2s ease-in !important;
    opacity: 0.3 !important;
}

.css-12emmik-MuiAreaElement-root {
    stroke: none;
    fill: #0022ff !important;
    -webkit-transition: opacity 0.2s ease-in, fill 0.2s ease-in;
    transition: opacity 0.1s ease-in, fill 0.2s ease-in !important;
    opacity: 0.3 !important;
}

.css-3tu4it-MuiAreaElement-root {
    stroke: none;
    fill: #ff0000;
    -webkit-transition: opacity 0.2s ease-in, fill 0.2s ease-in;
    transition: opacity 0.2s ease-in, fill 0.2s ease-in;
    opacity: 0.3 !important;
}