.crox-dlt {
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: flex-start; /* Align items to the start */
    gap: 10px; /* Add space between items */
    padding: 10px; /* Add padding if needed */
  }
  
  .x-space {
    display: flex;
    align-items: center; /* Center the icon vertically */
  }
  
  .crox-dlt img {
    width: 10px;
    cursor: pointer; /* Add pointer cursor for clickable image */
  }
  
  .crox-dlt p {
    font-size: 16px;
    color: #EE0000;
    margin: 0; /* Remove any default margin */
    flex: 1; /* Allow the text to take up remaining space */
    text-align: right; /* Align text to the right */
  }
  
















.image-section{
   width: 100%;
   margin-top: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
}


.input-q{
    width: 100%;
    display: flex;
    justify-content: center;

  
}
.input-qq{
    width: 100%;
    display: flex;
    justify-content:center;
   
  
}

.x-space22{

    height: 50px;
    width: 50px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
 
    color:red;
    font-size:25px;
    font-weight:600;
   margin-right: 100px;
  
  
    

}




.quest{
    border: none;
    text-align:center;
    outline:none;
    background-color:#F7F7F7;
    border:1px solid #DADADA ;
    border-radius:10px;
    width:250px;
    height:45px;
}

.x-space2{

    height: 44px;
    width: 44px;
    border-radius: 100%;
    background-color:#F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F7F7F7;
    color:red;
    font-size:25px;
    font-weight:600;
    margin-left: 20px;
     border: 1px solid #DADADA
  
    

}

.two-btns {
    width: 100%;
display: flex;
justify-content: center;

}

.cancel{
  background-color: rgb(255, 255, 255);
  width: 150px;
  height: 40px;
  box-shadow:1px 1px 1px 2px gainsboro;
  border: none;
  cursor: pointer;
  border-radius: 12px;

}

.save{
    background-color: #EE0000;
    width: 150px;
    margin-left: 20px;
    height: 40px;
    box-shadow:1px 1px 1px 2px gainsboro;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}






  