
.reddiv{
    background-color:#EE0000;
    width:100%;
    height:35vh

}
.reddiv-flex{
   
    display:flex;
    align-items:center;
    padding:10%
}
.settingcard{
 width: 100%;

 border-radius: 12px;
border: 1px solid #F3F3F3; 
 box-shadow: 0 0 4.5px rgba(0, 0, 0, 0.25);
 
             
           
}
.profile-positionn{
    width:100%;
    height:25vh;
    position:relative;
    /* border:2px solid #EE0000; */
    border-radius:36px
}
.profile-position{
    width:100%;
    height:25vh;
    border:2px solid #EE0000;
    border-radius:36px
}

.aboulte{
    /* position:absolute */
    background-color:#EE0000;
   width:30%;
   display:flex;
   justify-content:center;
    /* -moz-border-radius: 0px;
    -webkit-border-radius: 13px 13px 0px 0px; */
    border-radius: 37px 37px 0px 0px;
}


.setting-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  
.Subs-Container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

  .setting-design {
    width: 100%;
    max-width: 430px;
    margin: 2px auto;
   
 

  }
  
 .subs-design{
  width: 100%;
  max-width: 430px;
  margin: 2px auto;
 
  }
  .bak-hed {
    display: flex;
    align-items: center;
 margin-left: 1rem;
  }
  
  .saver {
    background-color: white;
    width: 70%;
    
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligns the text and the toggle switch */
    margin: 2px auto;
    height: 70px;
    border-radius: 30px;
    font-size: 14px;
    padding: 0 20px; 
    border: 1px solid red;
    box-sizing: border-box;
    box-shadow: none;
  }
  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  /* The circle inside the slider */
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  /* Toggle the background color when the checkbox is checked */
  input:checked + .slider {
    background-color: #E93428;
  }
  
  /* Move the circle when the checkbox is checked */
  input:checked + .slider:before {
    transform: translateX(17px);
  }
  
.http{
    display: flex;
    justify-content: center;
}




/* ...........Subscription */
.pic-p{
  display: flex;
  align-items: center;
padding-left: 20px;

gap:9px;
}


.gradient-text {
  background: linear-gradient(to bottom, #000AEE, #00D1EE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slick-dots li{
  font-size: 74px !important;
}

.slick-dots li.slick-active button:before {
  opacity: .75 !important;
  color: rgb(255, 0, 0) !important;
  font-size: 15px !important;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: rgb(255, 0, 0) !important ; 
  -webkit-font-smoothing: grey !important;
}